.uploadButton {
  position: fixed;
  bottom: 0px;
  right: 0px;
  margin: 20px;
}

.modal-content {
  background-color: rgba(84, 84, 84, 0.95);
  height: 640px;
  width: 100%;
}

.modal h1 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
}

.close {
  position: fixed;
  height: 55px;
  margin: 15px;
  right: 0px;
}

.imageFile {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.imageFile img {
  height: 90px;
}

.modalTitle {
  display: flex;
  justify-content: center;
}

.modalTitle h1 {
  font-weight: bold;
}

.modalSubtitle {
  display: flex;
  justify-content: center;

}

.modalSubtitle h1 {
 text-align: center;
 font-size: 25px;
}

.fileModal h1 {
  font-size: 25px;
  margin-left: 20px;
}

.category h1 {
  margin: 0px;
  font-size: 25px;
  margin-left: 20px;
  margin-bottom: 6px;
}

.subjectModal h1 {
  font-size: 25px;
  margin-left: 20px;
}

.modalInput {
  display: flex;
  justify-content: center;
}

.modalInput input {
  width: 90%;
}

.selectField {
  width: 90%;
}

.selectWrapper {
  display: flex;
  justify-content: center;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
