.subjectName {
  display: flex;
  justify-content: center;
  height: 100px;
  background-color: #e7e7e7;
}

.imageSubject {
  position: absolute;
  left: 0px;
  top: 47px;
}

.infoWrapper {
  position: relative;
  left: 13px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  top: 6px;
}

.infoWrapper h1 {
  position: relative;
  right: 38px;
  font-size: 28px;
  font-family: 'Montserrat', sans-serif;
  color: black;
  margin-bottom: 0px;
  margin-top: 3px;
}

.infoWrapper .title {
  color: #a5a5a5;
  font-size: 23px;
  width: 231px;
  margin-left: 78px;
  margin-right: 0px;
}

.starIcon {
  position: relative;
  top: 14px;
  left: 0px;
}
